/* body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    overflow-x: hidden;
}

.gradient-bg {
    position: relative;
    z-index: 1;
}

.gradient-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(270deg, #e0f2f1, #f1f8e9, #fffde7, #e0f2f1);
    background-size: 400% 400%;
    animation: gradientAnimation 20s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.cta-btn {
    touch-action: manipulation;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1.25rem;
    font-family: inherit;
    font-weight: 700;
    color: #022c22;
    text-transform: uppercase;
    padding: 1em 2em;
    background: #A7F3D0;
    border: 3px solid #064E3B;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    box-shadow: 0 0.6em 0 0 #053826;
}

.cta-btn:hover {
    transform: translateY(0.25em);
    box-shadow: 0 0.35em 0 0 #053826;
}

.cta-btn:active {
    transform: translateY(0.6em);
    box-shadow: 0 0.1em 0 0 #053826;
} */