body {
    font-family: "Montserrat", sans-serif;
    position: relative;
    overflow-x: hidden;
}

.gradientbg {
    position: relative;
    z-index: 1;
}

.gradientbg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(
        270deg,
        var(--plt-cnz-003),
        var(--plt-brc-005),
        var(--plt-brc-002),
        var(--plt-cnz-003)
    );
    background-size: 400% 400%;
    animation: gradientAnimation 20s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
