.headerContainer {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;

    padding: 1.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: var(--plt-vrd-005);
}

.ancora {
    color: var(--plt-vrd-008);
    font-weight: 600;
    /* text-align: right; */

    transition: color 0.2s ease-in-out;
    text-decoration: none;
}

.ancora:hover {
    color: var(--plt-vrd-006);
}

@media (min-width: 640px) {
    .ancora {
        display: block;
    }
}
