.headerContainer {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;

    padding: 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: #065f46;
}

.ancora {
    display: none;

    color: #047857;
    font-weight: 600;

    transition: color 0.2s ease-in-out;
}

.ancora:hover {
    color: #064e3b;
}

@media (min-width: 640px) {
    .ancora {
        display: block;
    }
}