.featuresSection {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: rgba(255, 255, 255, 0.7);

    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.containerGeral {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.campoTextoTerceiro {
    text-align: center;
    margin-bottom: 3rem;
}

.textoTerceiro {
    font-size: 1.875rem;
    font-weight: 700;
    color: var(--plt-vrd-005);
}

.paragrafoTerceiro {
    color: var(--plt-az-004);
    margin-top: 0.5rem;
}

.containerFeatures {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
}

.featuresCampo {
    background-color: var(--plt-brc-001);
    padding: 2rem;
    border-radius: 0.75rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border: 1px solid #e5e7eb;
    text-align: center;

    /* Transição suave */
    transition: all 0.2s ease-in-out;
}

.featuresCampTexto {
    background-color: var(--plt-vrd-001);
    border-radius: 9999px;
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/* Editar mais tarde, escholher icons */
.featuresImagem {
    height: 2rem;
    width: 2rem;
    color: var(--plt-vrd-007);
}

.textoQuarto {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 1.5rem;
    color: var(--plt-vrd-005);
}

.paragrafoQuarto {
    margin-top: 0.5rem;
    color: var(--plt-az-004);
}

@media (min-width: 768px) {
    .textoTerceiro {
        font-size: 2.25rem;
    }

    .containerFeatures {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
